*{
    margin: 0px;
    padding:0px;
}

nav{
    height:40px;
    width:100%;
    border:1px solid;
    text-align: end;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    position: sticky;
}
nav>a{
    color:whitesmoke;
    text-decoration: none;
    cursor: pointer;
}

#menu{
    height:700px;
    width:80%;
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-gap:5%;
    overflow: scroll;
    margin-top: 40px;

}
#list{
    border:2px solid;
    overflow: scroll;
    height:700px;
    width:20%;
}
#align{
    display: flex;
}
#list>div>div{
    width:50%;
    height:70px;
}
